<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="31">

        <activity
            android:name=".visualisation.Visualiser"
            android:exported="false" />

        <activity
            android:name=".activity.CompteUtilisateurActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AbonneCompte"
            android:exported="false" />
        <activity
            android:name=".activity.AbonnementCompte"
            android:exported="false" />
        <activity
            android:name=".activity.MyCompteActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.MyUpdateCompteActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.VisuNotificationActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ConnexionActivity" />
        <activity
            android:name=".activity.PanierActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.MesAchatsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.InscriptionActivity"
            android:exported="true">
        </activity>
        <activity android:name=".activity.AjoutPublicationActivity"
            android:exported="true">

        </activity>
        <activity android:name=".activity.MesPublicationsActivity"
            android:exported="true">

        </activity>
        <activity android:name=".activity.FilActuActivity"
            android:exported="true">

        </activity>
        <activity android:name=".activity.MdpOublieActivity"
            android:exported="true">

        </activity>

        <activity android:name=".activity.ProduitGratuitActivity" android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"> </activity>
        <activity android:name=".activity.ProduitPayantActivity" android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"> </activity>
        <activity android:name=".activity.AideActivity"
            android:exported="true">

        </activity>

        <activity android:name=".activity.MesPubProdGratuitActivity" android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"> </activity>

        <activity android:name=".activity.MesPubProdPayantActivity" android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"> </activity>
    </application>


</manifest>